[commit]
	gpgsign = true
[init]
	defaultBranch = main
[gpg]
	program = gpg2
[help]
	autocorrect = 5
[alias]
	stash = stash save --include-untracked
[safe]
	directory = /workspace/*
[push]
	default = current
	autoSetupRemote = always
[core]
	editor = vim
