repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        exclude: ^(ohmyzsh/|powerlevel10k/|\.p10k\.zsh)

      - id: end-of-file-fixer
        exclude: ^(ohmyzsh/|powerlevel10k/|\.p10k\.zsh)

      - id: trailing-whitespace
        exclude: ^(ohmyzsh/|powerlevel10k/|\.p10k\.zsh)

      - id: debug-statements
        exclude: ^(ohmyzsh/|powerlevel10k/|\.p10k\.zsh)

      - id: detect-private-key
        exclude: ^(ohmyzsh/|powerlevel10k/|\.p10k\.zsh)

      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: ^(ohmyzsh/|powerlevel10k/|\.p10k\.zsh)

      - id: pretty-format-json
        args: [--autofix]
        exclude: ^(ohmyzsh/|\.devcontainer/devcontainer.json|powerlevel10k/|\.p10k\.zsh)

      - id: check-case-conflict
        exclude: ^(ohmyzsh/|powerlevel10k/|\.p10k\.zsh)

      - id: check-added-large-files
        args: [--maxkb=1000]
        exclude: ^(ohmyzsh/|powerlevel10k/|\.p10k\.zsh)

      - id: check-merge-conflict

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        exclude: ^(ohmyzsh/|powerlevel10k/|\.p10k\.zsh)
