name: precommit

on: [push]

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    timeout-minutes: 2
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v5
    - uses: taiki-e/install-action@just
    - name: pre-commit
      run: |
        just install
        just pre-commit
